.app {
  padding: 30px;
  margin: 5rem ;
  text-align: center;
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
 
}
.input{
  align-items: center;
}
.sub{
  text-align: center;
  margin-top: 1rem;
}